name: lets-go-further

services:

  db:
    image: postgres
    container_name: db_pg
    hostname: localhost
    ports:
      - "5432:5432"
    env_file:
      - .db.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  pgdata: